:root {
  --primary-color: #F5F6F8;
  --bt-icon-color: rgba(245, 246, 248, 0.239);
  --card-color: #ffffff;
  --card-border-color: #E7E8EA;
  --border-color: #B8BAC1;
  --text-color-light: #B8BAC1;
  --text-dark-color: #181818;
  --icon-color-hover: #1818188F;
  --bt-color-disabled: #95A3F5;
  --bt-color-hover: #2B48EC;
  --bt-color-clicked: #142DB8;
}

.about-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.about-modal.show {
  display: block;
  opacity: 1;
}

.about-modal-content {
  background-color: var(--primary-color);
  padding: 72px;
  width: 100%;
  height: 100vh; /* Garante altura total da tela */
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  text-align: left;
  overflow-y: auto; /* Permite scroll dentro do modal */
  animation: slide-in-about 0.2s ease-out forwards;
}

.about-modal-header {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px;
}

.about-close-btn {
  display: flex;
  font-size: 25px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: rgba(255, 255, 255, 0.15);
  color: var(--text-dark-color);
  border: none;
  border-radius: 100%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.about-close-btn:hover {
  background-color: var(--bt-color-hover);
  color: var(--primary-color);
}

.about-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Helvetica' !important;
  color: var(--text-dark-color);
  padding-bottom: 100px;

  width: 100%;
}

.about-text-content h1 {
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 80px;
  letter-spacing: -3px;
  text-align: center;
  max-width: 1176px;
  margin: 0;
  padding: 144px 0 120PX;

  color: var(--text-dark-color);
}

.about-text-content h2 {
  font-family: 'Helvetica' !important;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  text-align: center;
  width: 1176px;

  color: var(--text-dark-color);
}

.about-text-content p {
  font-family: 'Helvetica' !important;

  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -2px;
  text-align: center;
  max-width: 1176px;

  padding-bottom: 144px;

  color: var(--text-dark-color);
}


.details{
  border-top: 1px solid var(--border-color);

  padding: 40px 0;
  width: 1176px;

  cursor: pointer;
}

.sumary-title{
  font-family: Helvetica;
  font-weight: 700;
  font-size: 2rem;
  line-height: 28px;
  padding: 0 0 40px;
}

.details span{
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -3%;
}

@keyframes slide-in-about {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@keyframes slide-out-about {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

@media (max-width: 768px) {
  .about-modal-content {
    padding: 24px 15px;
    max-width: 100vw;
  }

  .about-text-content h1 {
    font-size: 4rem;
  }

  .about-text-content p {
    font-size: 1.6rem;
  }
}
