:root {
    --primary-color: #F5F6F8;
    --bt-icon-color: rgba(245, 246, 248, 0.239);
    --card-color: #ffffff;
    --card-border-color: #E7E8EA;
    --border-color: #B8BAC1;
    --text-color-light: #B8BAC1;
    --text-dark-color: #181818;
    --icon-color-hover: #1818188F;
    --bt-color-disabled: #95A3F5;
    --bt-color-hover: #2B48EC;
    --bt-color-clicked: #142DB8;
}

form {
    display: flex;
    flex-direction: column;

    justify-content: start;
    padding-bottom: 100px;
}

form label {
    margin: 10px 0 5px;
    font-size: 2rem;
    font-weight: 700;
}

.form-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
}

.label-form {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 40px;
    letter-spacing: -3%;

    color: var(--text-dark-color);
    caret-color: var(--text-dark-color);
    background-color: transparent;

    border: none;
    border-bottom: 1px solid var(--border-color);
    outline: none;
}

.label-form:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--border-color);
}

.label-form::placeholder {
    color: var(--text-color-light);
    opacity: 1; 
}

.time-schedule {
    display: flex;
    align-items: center;
    gap: 8px;
}

.time-schedule input {
    box-sizing: content-box;
    width: 8ch;
    padding: 6px 6px; 
    line-height: 1.4;  
    text-align: left; 
}

.time-schedule label{
    margin-top: -7px;
    padding: 0 16px;
}

.label-form-schedule{
    font-family: Helvetica;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -3%;

    color: var(--text-dark-color); /* cor do texto digitado */
    caret-color: var(--text-dark-color); /* cor da barrinha que pisca */
    background-color: transparent;

    border: none;
    border-bottom: 1px solid var(--border-color);
    outline: none;
}

input[type="date"].label-form:invalid {
    color: var(--text-color-light);
}

/* se tiver valor */
input[type="date"].label-form:valid {
    color: var(--text-dark-color);
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 20px;
}
  
  /* Input de texto */
.input-wrapper input[type="text"] {
    flex: 1;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 40px;
    letter-spacing: -3%;
    color: var(--text-dark-color);
    background: transparent;
    border: none;
    outline: none;
    caret-color: var(--text-dark-color);

    margin-bottom: 0;
}
  
.input-wrapper input[type="text"]::placeholder {
    color: var(--text-color-light);
}

.clip-icon {
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.clip-icon img{
    width: 20px;
}

.clip-icon input[type="file"] {
    display: none;
}
  

form input{
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: solid 1px var(--border-color);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: none;
}

form button {
    cursor: pointer;
    width: 139px;
    height: 72px;
    border-radius: 999px;
    border: none;
    background-color: var(--bt-color-disabled);
    margin-top: 16px;
    padding-top: 24px;
    padding-right: 40px;
    padding-bottom: 24px;
    padding-left: 40px;
    gap: 16px;
    
    font-family: Helvetica;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -3%;
    color: var(--card-color);
    transition: background-color 200ms ease-in-out;
}

form button:hover {
    background-color: var(--bt-color-hover);
}

/* Desativar scroll ao abrir o modal */
body.modal-open {
    overflow: hidden;
}

form input::placeholder {
    color: var(--text-color-light) !important;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    form input{
        padding: 10px;
    }

    form label {
        margin: 10px 0 5px;
        font-size: 1.6rem;
    }

    .input-wrapper input[type="text"] {
        font-size: 2.4rem;
    }

    .label-form {
        font-size: 2.4rem;
        line-height: 30px;
        letter-spacing: -3%;
    }
    .time-schedule {
        gap: 5px;
    }

    .time-schedule input {
        box-sizing: content-box;
        width: 8ch;
        padding: 0 0 6px; 
    }

    .label-form-schedule{
        font-size: 2.4rem;
    }

    .clip-icon {
        margin-left: 0px;
    }
}