:root {
    --primary-color: #F5F6F8;
    --bt-icon-color: rgba(245, 246, 248, 0.239);
    --card-color: #ffffff;
    --card-border-color: #E7E8EA; 
    --border-color: #B8BAC1; 
    --text-color-light: #B8BAC1; 
    --text-dark-color: #181818;
    --bt-color-disabled: #95A3F5;
    --bt-color-hover: #2B48EC;
    --bt-color-clicked: #142DB8;
}

form {
    display: flex;
    flex-direction: column;

    justify-content: start;
}

form label {
    margin: 10px 0 5px;
    font-size: 2rem;
    font-weight: 700;
}

.label-form {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -3%;

    color: var(--text-color-light);
    opacity: 1;
}



.time-schedule {
    display: flex;
    align-items: center;
    gap: 8px;
}

.time-schedule input {
    box-sizing: content-box;
    width: 8ch;
    padding: 6px 6px; /* Aumente o padding para garantir espaço suficiente */
    line-height: 1.4;  /* Ajuste do line-height para evitar corte no texto */
    text-align: left;  /* Garantir que o texto fique alinhado corretamente */
}

.time-schedule label{
    margin-top: -7px;
    padding: 0 16px;
}

.label-form-schedule{
    font-family: Helvetica;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -3%;

    color: var(--text-color-light);
}

form input,
form select {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px var(--border-color);
    border-top: none;
    border-left: none;
    border-right: none;
}

form button {
    cursor: pointer;
    width: 139px;
    height: 72px;
    top: 936px;
    left: 72px;
    border-radius: 999px;
    border: none;
    background-color: var(--bt-color-disabled);
    margin-top: 122px;
    padding-top: 24px;
    padding-right: 40px;
    padding-bottom: 24px;
    padding-left: 40px;
    gap: 16px;
    
    font-family: Helvetica;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -3%;
    color: var(--card-color);
    transition: background-color 200ms ease-in-out;

}

form button:hover {
    background-color: var(--bt-color-hover);
}

/* Desativar scroll ao abrir o modal */
body.modal-open {
    overflow: hidden;
}

form input::placeholder {
    color: var(--bt-color-clicked) !important;
}