:root {
    --primary-color: #F5F6F8;
    --bt-icon-color: rgba(245, 246, 248, 0.239);
    --card-color: #ffffff;
    --card-border-color: #E7E8EA; 
    --border-color: #B8BAC1; 
    --text-color-light: #B8BAC1; 
    --text-dark-color: #181818;
    --bt-color-disabled: #95A3F5;
    --bt-color-hover: #2B48EC;
    --bt-color-clicked: #142DB8;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* O background aparece imediatamente sem animação */
    transition: opacity 0.2s ease-out; /* Transição suave da opacidade */
    opacity: 0; /* Inicialmente invisível */
}

/* Quando o modal estiver visível, altera a opacidade */
.modal.show {
    display: block;
    opacity: 1;
}

/* Conteúdo do modal */
.modal-content {
    background-color: var(--primary-color);
    margin: 0;
    padding: 72px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    
    /* A animação de entrada continua */
    animation: slide-in-content 0.2s ease-out forwards;
}

/* Animação de entrada do conteúdo */ 
@keyframes slide-in-content {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}

/* Animação de saída do conteúdo */
@keyframes slide-out-content {
    0% {
        right: 0;
    }
    100% {
        right: -100%;
    }
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .modal-content {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

/* Botão de fechar */
.close-btn {
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    color: var(--text-dark-color);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: background-color 200ms ease-in-out;
}

.close-btn:hover{
    background-color: var(--bt-color-hover);
    color: var(--primary-color);
    transition: background-color 200ms ease-in-out;
}