:root {
  --primary-color: #F5F6F8;
  --bt-icon-color: rgba(245, 246, 248, 0.239);
  --card-color: #ffffff;
  --card-border-color: #E7E8EA;
  --border-color: #B8BAC1;
  --text-color-light: #B8BAC1;
  --text-dark-color: #181818;
  --bt-color-disabled: #95A3F5;
  --bt-color-hover: #2B48EC;
  --bt-color-clicked: #142DB8;
}

.search-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s ease-out; 
  opacity: 0; 
}

.search-modal.show {
  display: block;
  opacity: 1;
}

.search-modal-content {
  background-color: var(--primary-color);
  margin: 0;
  padding: 72px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  animation: slide-in-content 0.2s ease-out forwards;
}

@keyframes slide-in-search {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

@keyframes slide-out-search {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}

.search-modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
}

.search-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.15);
  color: var(--text-dark-color);
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}

.search-close-btn:hover{
  background-color: var(--bt-color-hover);
  color: var(--primary-color);
  transition: background-color 200ms ease-in-out;
}

.search-input-field{
  font-family: Helvetica;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 40px;
  letter-spacing: -3%;

  color: var(--text-dark-color); /* cor do texto digitado */
  caret-color: var(--text-dark-color); /* cor da barrinha que pisca */
  background-color: transparent;

  border: none;
  border-bottom: 1px solid var(--border-color);
  border-radius: none;
  outline: none;
}

.search-input-field::placeholder {
  color: var(--text-color-light);
  opacity: 1;
}


@media (max-width: 768px) {
  .search-input-field{
    font-size: 2rem;
    max-width: 100%;
  }

  .search-modal-content {
    padding: 24px 15px; /* Padding reduzido para caber melhor */
    max-width: 95vw;
    height: 100%;
    overflow-x: scroll;
  }
}
