html, body{
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}

:root {
    --primary-color: #F5F6F8;
    --bt-icon-color: rgba(245, 246, 248, 0.239);
    --card-color: #ffffff;
    --card-border-color: #E7E8EA; 
    --border-color: #B8BAC1; 
    --text-color-light: #B8BAC1; 
    --text-dark-color: #181818;
    --bt-color-disabled: #95A3F5;
    --bt-color-hover: #2B48EC;
    --bt-color-clicked: #142DB8;
}

body{
    background-color: var(--primary-color);
    font-family: 'Helvetica';

    padding: 0 50px 0 72px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 0;

   
}

/* Main Menu */
nav.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 72px;
}  

nav .about {
    border: 1px solid rgba(255, 255, 255, 0.3); /* borda leve e translúcida */
    background-color: rgba(255, 255, 255, 0.15); /* fundo translúcido */
    backdrop-filter: blur(10px); /* efeito de desfoque */
    -webkit-backdrop-filter: blur(10px); /* suporte para Safari */

    padding: 24px;
    border-radius: 100px;
}


nav .about a{
    text-decoration: none;
    color: var(--text-dark-color);
    font-weight: 600;
    font-size: 2rem;
}

nav .bi{
    padding: 20px;

    color: var(--text-dark-color);
    background-color: var(--bt-icon-color);
    border-radius: 100px;
}

.menu-icons {
    display: flex;
    align-items: center;
    gap: 16px; 

    font-size: 1.8rem;
}

.icons-bt{
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
    padding: 24px;
}

.icons-bt img {
    width: 18px;
    height: 18px;
}

.menu-date{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 

    padding: 24px;
}

.icons-bt, .menu-date:hover{
    cursor: pointer;
}


.hero {
    height: 50vh;
    display: flex;
    align-items: center;
}

.hero h1{
    color: var(--text-dark-color);
    font-size: 12.8rem;
    font-weight: 700;
}

.counting-md{
    padding: 24px 0;
}

.counting-md p{
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-dark-color);
}


/* Floating Button */
.bt-form-container{
    position: relative;
}

.bt-form{
    height: 88px;
    width: 88px; 

    position: fixed;
    z-index: 2;
    right:0;
    margin-right: 72px;
    bottom: 72px;

    background-color: var(--text-dark-color);
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: background-color 200ms ease-in-out;
}

.bt-form:hover{
    background-color: var(--bt-color-hover);
}

/* Empty State */
#empty-state{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

#empty-state img{
    width: 106px;
    margin-bottom: 40px;
}

#empty-state-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#empty-state-texts p{
    margin: 0;
    padding: 0;

    font-family: Helvetica;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -3%;
    text-align: center;
}

/* Footer*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px 0;
    margin-top: 40px;

    border-top: 1px solid var(--border-color);
}

.ft-info span{
    color: var(--text-dark-color);
    font-size: 14px;
}

.hidden {
    display: none !important;
}