html, body{
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}

:root {
    --primary-color: #F5F6F8;
    --card-color: #FFFFFF;
    --card-border-color: #E7E8EA; 
    --border-color: #B8BAC1; 
    --text-color-light: #888C95; 
    --accent-color: #181818; 
    --text-dark-color: #181818;
}

body{
    background-color: var(--primary-color);
    font-family: 'Helvetica';

    padding: 0 50px 0 50px;
}

header{
    width: 100%;
}

/* Menu Principal */
nav{
    display: flex;
    justify-content: space-between;

    margin-top: 70px;
}

nav .about{
    text-decoration: none;
    color: var(--text-dark-color);
    font-weight: 600;
    font-size: 1.8rem;

    padding: 20px;
    border-radius: 100%;
    background-color: var(--card-color);
}

nav .bi{
    padding: 20px;

    color: var(--text-dark-color);
}

.menu-icons {
    display: flex;
    align-items: center;
    gap: 16px; 

    font-size: 1.8rem;
}

.menu-date{
    color: var(--text-dark-color);
    font-weight: 600;

    display: flex;
    align-items: center;
}

.menu-icons i:hover{
    cursor: pointer;
}

.main-title h1{
    color: var(--text-dark-color);
    font-size: 12.8rem;
    font-weight: 700;
}

.counting-md{
    padding: 24px 0;
}

.counting-md h2{
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-dark-color);
}


/* Formulário */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input,
form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

/* Botão Flutuante */
.bt-form-container{
    position: relative;
}

.bt-form{
    height: 88px;
    width: 88px; 

    position: fixed;
    z-index: 2;
    right:0;
    margin-right: 50px;
    bottom: 35%;

    background-color: var(--accent-color);
    box-shadow: 0 5px 16px -8px var(--accent-color);
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}


/* Rodapé */
footer{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px 0;
    margin-top: 40px;

    border-top: 1px solid var(--border-color);
}

.ft-info span{
    color: var(--text-dark-color);
    font-size: 14px;
}