html, body{
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}

:root {
    --primary-color: #F5F6F8;
    --bt-icon-color: rgb(255, 255, 255, 0.45);
    --card-color: #ffffff;
    --card-border-color: #E7E8EA; 
    --border-color: #B8BAC1; 
    --text-color-light: #B8BAC1; 
    --text-dark-color: #181818;
    --bt-color-disabled:#95A3F5;
    --bt-color-hover:#2B48EC;
    --bt-color-clicked:#142DB8;
}

body{
    background-color: var(--primary-color);
    font-family: 'Helvetica';

    padding: 0 50px 0 50px;
}

header{
    width: 100%;
}

/* Menu Principal */
nav{
    display: flex;
    justify-content: space-between;

    margin-top: 70px;
}

nav .about{
    border: none;
    background-color: var(--bt-icon-color);  

    padding: 24px 72px;
    border-radius: 100px;
    
}

nav .about a{
    text-decoration: none;
    color: var(--text-dark-color);
    font-weight: 600;
    font-size: 2rem;
}

nav .bi{
    padding: 20px;

    color: var(--text-dark-color);
    background-color: var(--bt-icon-color);
    border-radius: 100px;
}

.menu-icons {
    display: flex;
    align-items: center;
    gap: 16px; 

    font-size: 1.8rem;
}

.menu-date{
    color: var(--text-dark-color);
    font-weight: 600;

    display: flex;
    align-items: center;
}

.menu-icons i:hover{
    cursor: pointer;
}

.main-title h1{
    color: var(--text-dark-color);
    font-size: 12.8rem;
    font-weight: 700;
}

.counting-md{
    padding: 24px 0;
}

.counting-md h2{
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-dark-color);
}

/* Botão Flutuante */
.bt-form-container{
    position: relative;
}

.bt-form{
    height: 88px;
    width: 88px; 

    position: fixed;
    z-index: 2;
    right:0;
    margin-right: 50px;
    bottom: 35%;

    background-color: var(--text-dark-color);
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: background-color 200ms ease-in-out;
}

.bt-form:hover{
    background-color: var(--bt-color-hover);
}

/* Rodapé */
footer{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px 0;
    margin-top: 40px;

    border-top: 1px solid var(--border-color);
}

.ft-info span{
    color: var(--text-dark-color);
    font-size: 14px;
}